
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Select Example - Ajax</title>

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous" />

</head>
<body>

<div class="card-body" align="center">
	<h2>Dependent or Cascading Dropdowns</h2>
</div>

<br>
<br>

<div class="container">

<div class="row">  
    <div class="col-lg-3"></div>  
    <div class="col-lg-6">  
  
        <div class="form-group">  
            <label class="col-md-4 control-label">Country Name</label>  
            <div class="col-md-6">  
                <select class="form-control" id="ddlCountry"></select><br />  
            </div>  
        </div>  
  
        <div class="form-group">  
            <label class="col-md-4 control-label">State Name</label>  
            <div class="col-md-6">  
                <select class="form-control" id="ddlState"></select>  
                <br />  
  
            </div>  
        </div>  
        <br />  
        <div class="form-group">  
            <label class="col-md-4 control-label">City Name</label>  
            <div class="col-md-6">  
                <select class="form-control" id="ddlCity"></select>  
  
            </div>  
        </div>  
    </div>  
    <div class="col-lg-3"></div>  
</div>  

</div>

<script> 

    $(document).ready(function () {  
  
        var ddlCountry = $('#ddlCountry');  
        ddlCountry.append($("<option></option>").val('').html('Please Select Country'));  

        $.get("countries", function(responseJson) {
            var $select = $("#ddlCountry");
            $select.find("option").remove();  
            $.each(responseJson, function(index, country) {
            	//alert(country.countryId);
                $("<option>").val(country.countryId).text(country.countryName).appendTo($select);
            });                   
             
        });

        $("#ddlCountry").change(function () {  
            var countryId = parseInt($(this).val());         

            if (!isNaN(countryId)) {  
                var ddlState = $('#ddlState');  
                var ur = 'states/' + countryId;
               
                //ddlState.empty();  
                ddlState.append($("<option></option>").val('').html('Please wait ...'));

                $.get(ur, function(responseJson) {
                    var $select = $("#ddlState");
                    $select.find("option").remove();  
                    $.each(responseJson, function(index, state) {                        
                        $("<option>").val(state.stateId).text(state.stateName).appendTo($select);                    	
                    });                   
                     
                });
            }
        });

        $("#ddlState").change(function () {  
            var stateId = parseInt($(this).val()); 

            if (!isNaN(stateId)) {  
                var ddlCity = $('#ddlCity');  
                var ur = 'cities/' + stateId;
              
                //ddlState.empty();  
                ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                $.get(ur, function(responseJson) {
                    var $select = $("#ddlCity");
                    $select.find("option").remove();  
                    $.each(responseJson, function(index, city) {                        
                        $("<option>").val(city.cityId).text(city.cityName).appendTo($select);                    	
                    });                   
                     
                });
            }
        });  

    });
    
</script>


</body>
</html>